@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    font-family: candara;
 font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

#container{
    height: auto;
    width: 95%;
    margin: auto;
}
#topbar{
    height: 70px;
    position: sticky;
    top:0;
    background-color: white;
    z-index: 1;
}
#logoSection{
    float: left;
    height: 100%;
    width: 250px;
    /* background-color: red; */
}
#logo{
    height: 60px;
    margin: 5px;
}
#logoSection span{
    position: absolute;
    margin-top: 18px;
    font-size: 24px;
    font-weight: 600;
    margin-left: 12px;
    text-shadow: 1px 2px 5px grey;
}
#addressSection{
    float: right;
    width: 240px;
    padding: 10px;
    font-size: 15px;
}
#nav{
    top:70px;
    position: sticky;
    height: 50px;
    background-color: black;
    box-shadow: 1px 1px 20px 1px whitesmoke;
    z-index: 1;
}
#nav ul{
    list-style: none;
    padding-top: 12px;
}
#nav ul li{
    display: inline;
}
#nav ul li a{
    color:white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 82px;
}
#nav ul li a:hover{
    color:orange;
}
#nav ul li ul{
    display: none;
}
#nav ul li:hover ul{
    display: block;
    position: absolute;
    background-color: black;
    width: 200px;
    margin-left: 320px;
}
#nav ul li ul li{
    margin-left: -50px;
    line-height: 30px;
}
#banner{
    height: 500px;
    /* background-color: lightgrey; */
}
#bannerImg{
    height: 500px;
    width: 100%;
}
#mq{
    height: 30px;
    background-color: whitesmoke;
    font-size: 19px;
    padding: 7px;
}
#section{
    height: 250px;
    /* background-color: grey; */
    padding: 40px;
}
#section h1{
    font-size: 28px;
}
#section p{
    font-size: 18px;
    text-align: justify;
}
#gallery{
    height: 330px;
    background-color: whitesmoke;
    padding: 30px;
}
#box{
    height: 300px;
    width: 240px;
    background-color: lightgray;
    float: left;
    margin: 20px;
    box-shadow: 1px 1px 5px 1px grey;
}
#box:hover{
    transition: 1s;
    transform: scale(1.1);
    box-shadow: 1px 1px 10px 1px black;
    border-radius: 10px;
}
#galleryImg{
    height: 250px;
    width: 240px;
}
#box h1{
    font-size: 22px;
    text-align: center;
    color:white;
    text-shadow: 1px 1px 1px black;
}
#about{
    height: 350px;
    background-color: white;
    padding: 50px;
}
#leftAbout{
    height: 300px;
    width: 300px;
    /* background-color: red; */
    float: left;
    /* border-radius: 50%; */
    margin: 20px;
}
#leftAbout img{
    height: 300px;
    width: 300px;
    /* border-radius: 50%; */
}
#about h1{
    font-size: 28px;
}
#about p{
    font-size: 18px;
    text-align: justify;
}
#rightAbout{
    float: left;
    width: 750px;
}
#contact{
    height:400px;
    background-color: whitesmoke;
    padding: 40px;
}
#contact h1{
    font-size: 28px;
}
#contactDiv1{
    height: 250px;
    width: 170px;
    background-color: lightgray;
    float: left;
    margin: 20px;
    padding: 25px;
}
#contactDiv2{
    height: 300px;
    width: 280px;
    background-color: lightgray;
    float: left;
    margin: 20px;
}
iframe{
    height: 300px;
    width: 280px;
}
#contactDiv1 ul li a{
    text-decoration: none;
    line-height: 30px;
    color:black;
}
#footer{
    font-size: 20px;
    padding: 20px;
}
#hum{
    display: none;
}
#humber{
    height: 50px;
    display: none;
}

/* ############################################### */
/* ################  MEDIA QUERY   ############### */
/* ############################################### */

@media screen and (max-width:400px){
#container{
    height: auto;
    width: 95%;
    margin: auto;
}
#topbar{
    height: 50px;
    position: sticky;
    top:0;
    /* background-color: red; */
    z-index: 1;
}
#logoSection{
    float: left;
    height: 100%;
    width: 200px;
    /* background-color: red; */
}
#logo{
    height: 50px;
    margin: 2px;
}
#logoSection span{
    position: absolute;
    margin-top: 15px;
    font-size: 22px;
    font-weight: 600;
    margin-left: 2px;
    text-shadow: 1px 2px 5px grey;
    /* background-color: orange; */
}
#addressSection{
    float: right;
    width: 165px;
    /* background-color: blue; */
    padding: 2px;
    font-size: 9px;
}
#nav{
    top:52px;
    position: sticky;
    height: 40px;
    background-color: black;
    box-shadow: 1px 1px 20px 1px whitesmoke;
    z-index: 1;
}
/* #hum{
    display: block;
} */
#humber{
    height: 40px;
    display: block;
    float: right;
}
#hum:checked ~ul{
    display: block;
}
#nav ul{
    display: none;
    list-style: none;
    padding-top: 5px;
    width: 100%;
    margin-left: -40px;
}
#nav ul li{
    display: block;
    background-color: black;
}
#nav ul li a{
    color:white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 32px;
    line-height: 40px;
}
#nav ul li a:hover{
    color:orange;
}
#nav ul li ul{
    display: none;
}
#nav ul li:hover ul{
    display: block;
    position: absolute;
    background-color: black;
    width: 100px;
    margin-left: 170px;
    margin-top: -50px;
}
#nav ul li ul li{
    margin-left: -50px;
    line-height: 30px;
}
#banner{
    height: 300px;
    /* background-color: lightgrey; */
}
#bannerImg{
    height: 300px;
    width: 100%;
}
#mq{
    height: 30px;
    background-color: whitesmoke;
    font-size: 19px;
    padding: 7px;
}
#section{
    height: auto;
    /* background-color: grey; */
    padding: 40px;
}
#section h1{
    font-size: 24px;
}
#section p{
    font-size: 16px;
    text-align: justify;
}
#gallery{
    height: auto;
    float: left;
    background-color: whitesmoke;
    padding: 30px;
}
#box{
    height: 300px;
    width: 240px;
    background-color: lightgray;
    float: left;
    margin: 38px;
    box-shadow: 1px 1px 5px 1px grey;
}
#box:hover{
    transition: 1s;
    transform: scale(1.1);
    box-shadow: 1px 1px 10px 1px black;
    border-radius: 10px;
}
#galleryImg{
    height: 250px;
    width: 240px;
}
#box h1{
    font-size: 22px;
    text-align: center;
    color:white;
    text-shadow: 1px 1px 1px black;
}
#about{
    height: auto;
    float: left;
    background-color: white;
    padding: 50px;
}
#leftAbout{
    height: 260px;
    width: 260px;
    /* background-color: red; */
    float: left;
    /* border-radius: 50%; */
    margin: 15px;
}
#leftAbout img{
    height: 260px;
    width: 260px;
    /* border-radius: 50%; */
}
#about h1{
    font-size: 24px;
}
#about p{
    font-size: 16px;
    text-align: justify;
}
#rightAbout{
    float: left;
    width: 100%;
}
#contact{
    height:auto;
    float: left;
    background-color: whitesmoke;
    padding: 40px;
}
#contact h1{
    font-size: 24px;
}
#contactDiv1{
    height: 250px;
    width: 170px;
    background-color: lightgray;
    float: left;
    margin: 38px;
    padding: 25px;
}
#contactDiv2{
    height: 300px;
    width: 220px;
    background-color: lightgray;
    float: left;
    margin: 39px;
}
iframe{
    height: 300px;
    width: 220px;
}
#contactDiv1 ul li a{
    text-decoration: none;
    line-height: 30px;
    color:black;
}
#footer{
    clear: both;
    font-size: 12px;
    /* background-color: red; */
}
}